.header_container {
  background-color: #36190d;
  padding: 6%;
  color: white;
  font-family: 'Fredoka';
  font-weight: 600;
  font-size: 1.2rem;
}

.header_container img {
  width: 36px;
}

.header_container > div {
  display: flex;
  gap: 8px;
}

.header_container > div p {
  align-self: flex-end;
  margin-block-end: 0;
}

.header_user_icon {
  margin-left: auto;
  margin-top: auto;
}
